

.table-pagination {
	border: 1px solid black;
}

.table-pagination span {
	    border-radius: 86px;
    background: #999;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    color: #fff;
}

.table-pagination span.active {
    background-color: blue;
    font-weight: bold;
}
