.record-wrapper {
    margin: 0 auto;
    max-width: 700px;
}

.record-wrapper .card {
    border: 1px solid #eee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    color: #444444;
    font-size: 16px;
    margin: 0 auto;
    max-width: 500px;
    padding: 15px;
}

.record-wrapper .card h4 {
    color: #666666;
}

.record-wrapper .card .top {
    width: 100%;
}
.record-wrapper .card .additional-text {
    color: #666666;
    font-size: 14px;
}
